#title1{
    width: 100%;
    text-align: center;
    font-size: 60px;
}
#title2{
    width: 100%;
    text-align: center;
    font-size: 40px;
}
#paragraphe{
    font-size: 27px;
    margin-bottom: 70px;
    width: 100%;

}
#capsule{
    font-size: 40px;
}